{% if input_width is not defined %}
{% set input_width = 60 %}
{% endif %}
{% if output_width is not defined %}
{% set output_width = 0 %}
{% set has_output = 0 %}
{% else %}
{% set has_output = 1 %}
{% endif %}
<style>
div.sst-ui {
    padding: 10px;
}

/* Table, th and td styles */
table.sst {
    border: none;
    border-collapse: collapse; 
}

table.sst tr {
    height:27px;
}

table.sst td, table.sst th {
    background-color: #d2d2e8;
    text-align:center;
    padding: 2px 5px 2px 5px;
}

table.sst td {
    border: 1px solid #7e7e7e;
}

table.sst th {
    font-weight: bold;
    border: 2px solid black;
}

table.sst th.cr-variables-header {
    border-bottom: 1px solid black;
}

table.sst .cr-step-col,
table.sst .cr-blank {
    background-color: inherit;
    border: none;
    padding: 0px 7px 0px 7px;
}

table.sst td.cr-bottom {
    border-bottom: 2px solid black;
}

table.sst .cr-output-col,
table.sst .cr-linenumber-col,
table.sst .cr-return-row,
table.sst td.cr-separator {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

table.sst td.cr-last-col {
    border-right: 2px solid black;
}

table.sst td.cr-variable-name {
    border-bottom: 2px solid black;
}

/* Input styles */
table.sst input {
    border: 1px solid gray;
    margin: 5px;
    font-family: monospace;
}

input.cr-output {
    width: {{ output_width }}px;
}

table.sst input.cr-variable, input.cr-variable-name {
    width: {{ input_width }}px;
}

table.sst input.cr-variable-name {
    font-weight: bold;
}

table.sst input.cr-linenumber {
    width: 40px;
}

table.sst input.cr-return-value {
    width: {{ return_width}}px;
}

table.sst input.cr-undefined {
    background-color: white;
}

table.sst input.cr-explicit {
    background-color: #e2e5ff;
}

table.sst input.cr-filled-down {
    background: repeating-linear-gradient(45deg,white,white 5px,#e2e5ff 5px,#e2e5ff 10px);
}

</style>

<div id="___textareaId___-sst-ui-div" class="sst-ui">
<table class="sst" border="1">
<thead>
<tr>
<td class="cr-blank" colspan="2"></td>
<th class="cr-variables-header" colspan="{{num_vars}}">Variables</th>
{% if has_output %}
<td class="cr-blank" colspan="2"></td>
{% endif %}
</tr>

<tr>
<td class="cr-step-col"><strong>Step</strong></th>
<th class="cr-linenumber-col cr-linenumber-hdr">Line number</th>
{% for j in 1 .. num_vars %}
    {% if j == num_vars %}
    {% set last_col = ' cr-last-col' %}
    {% else %}
    {% set last_col = '' %}
    {% endif %}
<td class="cr-variable-col cr-variable-name{{last_col}}"><input id="___textareaId___-cr-sst-var-0-{{j}}" class="coderunner-ui-element cr-variable-name" name="variable_name"></td>
{% endfor %}
{% if has_output %}
<td class="cr-blank cr-separator"></td>
<th class="cr-output-col cr-output-hdr">Print output</th>
{% endif %}
</tr>
</thead>

<tbody>
{% for i in 1..num_rows %}

{% if i == num_rows %}
{% set bottom = " cr-bottom" %}
{% else %}
{% set bottom = '' %}
{% endif %}
<tr>

<td class="cr-step-col">{{i}}</td>
<td class="cr-linenumber-col{{bottom}}"><input class="coderunner-ui-element cr-linenumber" name="line_number"></td>
{% if return_width and i == num_rows %}
<td class="cr-return-row cr-bottom" colspan="{{num_vars}}"><strong>Return value:&nbsp;</strong>
    <input class="coderunner-ui-element cr-return-value" name="return_value">
</td>

{% else %} 
    {% for j in 1..num_vars %}
       {% if j == num_vars %}
          {% set last_col = ' cr-last-col' %}
       {% else %}
          {% set last_col = '' %}
       {% endif %}
<td class="cr-variable-col{{bottom}}{{last_col}}"><input id="___textareaId___-cr-sst-var-{{i}}-{{j}}" class="coderunner-ui-element cr-variable cr-undefined" name="variable_value"></td>
    {% endfor %}
    {% if has_output %}
<td class="cr-blank cr-separator">
        {% if return_width and i == num_rows - 1 %}
        {% set bottom = " cr-bottom" %}
        {% endif %}
</td><td class="cr-output-col{{bottom}}"><input class="coderunner-ui-element cr-output" name="output"></td>
    {% endif %}
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<input type="hidden" id="___textareaId___-cr-var-classes" class="coderunner-ui-element" name="var_classes">
</div>

<script>
(()=> {
/*jshint esversion: 6 */
function cr_varChanged(element, event) {
    // Called on change event in a variable input element. 
    // Sets values and classes of all elements in the column of
    // the element by filling down any explicitly-entered
    // elements until the next such element is encountered.
    // Classes of the input elements in the column are set
    // to 'cr-underfined', 'cr-filled-down' or 'cr-explicit'.
    element.classList.remove('cr-filled-down', 'cr-undefined', 'cr-explicit');
    const inputId = element.id;
    const bits = inputId.split('-');
    const colNum = parseInt(bits[bits.length - 1]);

    const value = element.value.trim();
    if (value === '') {
        element.classList.add('cr-undefined');
    } else {
        element.classList.add('cr-explicit');
    }

    // Work down column from top to bottom, filling as appropriate.
    let fillValue = '';
    let varStates = document.getElementById("___textareaId___-cr-var-classes");
    let allStates = varStates.value === '' ? {} : JSON.parse(varStates.value);
    let rowNum = 1; // Start at top row.
    while (1) {
        let displayClass = 'cr-undefined';
        bits[bits.length - 2] = rowNum.toString(); // Set the row number.
        const inputId = bits.join('-');
        const input = document.getElementById(inputId);
        if (input === null) {
            break;
        }
        if (input.classList.contains('cr-explicit')) {
            fillValue = input.value;
            displayClass = 'cr-explicit';
        } else {
            input.value = fillValue;
            input.classList.remove('cr-filled-down', 'cr-undefined', 'cr-explicit');
            if (fillValue === '') {
                displayClass = 'cr-undefined';
            } else {
                displayClass = 'cr-filled-down';
            }
            input.classList.add(displayClass);
        }
        // Record display class of this input element if not undefined.
        if (displayClass !== 'cr-undefined') {
            allStates[`cr-sst-var-${rowNum}-${colNum}`] = displayClass;
        }
        rowNum += 1;
    }
    varStates.value = JSON.stringify(allStates);
    if (varStates.value == '{}') {
        varStates.value = '';  // So HTML UI serialisation is empty.
    }
}

// Called when the UI has been loaded and initialised to set the appropriate
// display class. The initial state is undefined so only cr-explicit and
// cr-filled-down are explicitly set.
function loadClasses() {
    const varStates = document.getElementById("___textareaId___-cr-var-classes");
    const allStates = JSON.parse(varStates.value);
    for(const key in allStates) {
        const displayClass = allStates[key];
        const id = `___textareaId___-${key}`;
        const input = document.getElementById(id);
        if (input === undefined) {
            alert("Failed to find element with id " + id);
        } else {
            input.classList.remove('cr-undefined');
            input.classList.add(displayClass);
        }
    } 
}

// Kill the enter key from submitting the form. 
// Catches Enter key used in the variable name or output fields.
function kill_enter() {
    const div = document.getElementById("___textareaId___-sst-ui-div");
    const elements = div.querySelectorAll(".cr-variable-name,.cr-output");
    for (let i=0; i < elements.length; i++) {
        elements[i].addEventListener("keydown", event=> {
                if (event.keyCode === 13) {
                    event.preventDefault();
                }
            });
    }
}

// Set up a handler for each variable value (change or Enter key)
function addVarChangedHandlers() {
    const parentDiv = document.getElementById("___textareaId___-sst-ui-div");
    const elements = parentDiv.querySelectorAll(".cr-variable");
    for (let i=0; i < elements.length; i++) {
        const element = elements[i];
        if (element.crEventSet === undefined || element.crEventSet === null) {
            element.addEventListener("change", event=>cr_varChanged(element, event));
            element.addEventListener("keydown", event=>{
                    if (event.keyCode === 13) { // Enter key
                        cr_varChanged(element, event);
                        event.preventDefault();
                    }
                });
            element.crEventSet = 1;
        }
    }
}

addVarChangedHandlers();
loadClasses();
kill_enter();
})();
</script>